<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Trasiga Lampor</title>
  <link rel="stylesheet" href="Style.css">
</head>
<body>
<header>
  <img src="/img/trasiglampa.png" alt="logo">

  <h1 id="Rubrik">Broken Lämps</h1>

  <button onclick="document.location='./'" class="button button1">Main</button>
  <button onclick="document.location='./shop'" class="button button2">Shop</button>
  <button onclick="document.location='./login'" class="button button3">Login</button>
  <button onclick="document.location='./checkout'" class="button button4">Checkout</button>


  <svg id="Top1">
    <rect/>
  </svg>
</header>



<svg id="Bottom1">
  <rect/>
</svg>
</body>
</html>