<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Trasiga Lampor</title>
  <link rel="stylesheet" href="Style.css">
</head>
<body>
<div class="background"></div>
<header>
  <img src="/img/logo.png" alt="logo">

  <h1 id="Rubrik">Broken Lämps</h1>

  <button onclick="document.location='./'" class="button button1">Main</button>
  <button onclick="document.location='./shop'" class="button button2">Shop</button>
  <button onclick="document.location='./login'" class="button button3">Login</button>
  <button onclick="document.location='./checkout'" class="button button4">Checkout</button>


  <svg id="Top1">
    <rect/>
  </svg>
</header>

<h2>Login Form</h2>

<form method="post" id="loginForm">

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" required>
    <br>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" id="password" required>
    <br>
    <button class="login" type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>
</form>

<div class="Create">
  <span> <a onclick="document.location='./register'" href="#">Create Account</a></span>
</div>

<svg id="Bottom1">
  <rect/>
</svg>
<script lang="js" src="/JS/login.js" ></script>
</body>
</html>
