<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trasiga Lampor</title>
    <link rel="stylesheet" href="/Style.css">
</head>
<body>
<div class="background"></div> <!-- Creates background so that it can be controlled with z-index-->
<header>
    <img src="/img/logo.png" alt="logo"> <!--Page logo -->

    <h1 id="Rubrik">Broken Lämps</h1> <!--Header and all the buttons -->

    <div class="menu">
        <button onclick="document.location='./'" class="button button1">Main</button>
        <button onclick="document.location='./shop'" class="button button2">Shop</button>
        <button id="login" onclick="document.location='./login'" class="button button3">Login</button>
        <button onclick="document.location='./checkout'" class="button button4">Checkout ( <span id="basket"></span> )
        </button>
    </div>

</header>

<div class="product-info"> <!-- Container for product information -->
    <img id="image" src="/uploads/lampa3.png" alt="Product Name"> <!-- Product image -->
    <div class="product-details">
        <h2 id="name">Loading</h2> <!-- Product name -->
        <p class="rating">Rating: <span>0</span></p>
        <p class="price"><span id="price">-</span> kr</p>  <!-- Product price -->
        <p class="description" id="description">Loading</p> <!-- Product description -->
        <button onclick="pageAddToCart()" type="submit" class="button button2">Add to Cart</button> <!-- Add to cart button -->

    </div>
</div>


<!--------------------------------------------------------------------------------->
<div class="card" style="margin:50px auto">
    <div class="row">
        <div class="col-12">
            <div class="comment-box ml-2">

                <h4>Add a comment</h4>

                <div class="rating2">
                    <input type="radio" name="rating" value="5" id="5"><label for="5">&#9734</label>
                    <input type="radio" name="rating" value="4" id="4"><label for="4">&#9734</label>
                    <input type="radio" name="rating" value="3" id="3"><label for="3">&#9734</label>
                    <input type="radio" name="rating" value="2" id="2"><label for="2">&#9734</label>
                    <input type="radio" name="rating" value="1" id="1"><label for="1">&#9734</label>
                </div>

                <div class="comment-area">
                    <textarea id="commentText" class="form-control" placeholder="what is your view?"
                              rows="4"></textarea>
                </div>

                <div class="comment-btns mt-2">
                    <div class="row">
                        <div class="col-6">
                            <div class="pull-right">
                                <button class="btn btn-success send btn-sm" onclick="submitRating()">Send <i
                                        class="fa fa-long-arrow-right ml-1"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--------------------------------------------------------------------------------->


<div class="card" style="margin:20px auto">
    <div class="row" id="comments">

    </div>
</div>

<!-- Comments -->


<script lang="js" src="/JS/main.js"></script> <!--Load JavaScript files -->
<script lang="js" src="/JS/product.js"></script> <!--Load JavaScript files -->
</body>
</html>