<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trasiga Lampor</title>
    <link rel="stylesheet" href="Style.css">
</head>
<body>
<div class="background"></div> <!-- Creates background so that it can be controlled with z-index-->
<header>
    <img src="/img/logo.png" alt="logo"> <!--Page logo -->

    <h1 id="Rubrik">Broken Lämps</h1> <!--Header and all the buttons -->

    <div class="menu">
        <button onclick="document.location='./'" class="button button1">Main</button>
        <button onclick="document.location='./shop'" class="button button2">Shop</button>
        <button id="login" onclick="document.location='./login'" class="button button3">Login</button>
        <button onclick="document.location='./checkout'" class="button button4">Checkout ( <span id="basket"></span> )
        </button>
    </div>


    <svg id="Top1">
        <rect/>
    </svg>
</header>

<div id="items"> <!--To show the items and controll via CSS -->

</div>


<script lang="js" src="/JS/main.js"></script> <!--Load JavaScript files -->
<script lang="js" src="/JS/products.js"></script> <!--Load JavaScript files -->

</body>
</html>
