<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Trasiga Lampor</title>
  <link rel="stylesheet" href="Style.css">
</head>
<body>
<div class="background"></div>
<header>
  <img src="/img/logo.png" alt="logo">

  <h1 id="Rubrik">Broken Lämps</h1>

  <button onclick="document.location='./'" class="button button1">Main</button>
  <button onclick="document.location='./shop'" class="button button2">Shop</button>
  <button onclick="document.location='./login'" class="button button3">Login</button>
  <button onclick="document.location='./checkout'" class="button button4">Checkout</button>


  <svg id="Top1">
    <rect/>
  </svg>
</header>

<div id="items">
<svg id="Store1">
  <rect/>
  <foreignobject x="20" y="10" width="90%" height=100%>
    <h2 class="LampaRubrik">Trasig Lampa 1</h2>

      <img class="lampa" src="/Assets/lampa1.png" alt="lampa">
          <p class="price">Price: 500kr </p>
          <p class="Description">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua.</p>
          <p class="stock">Availability:</p>
      <button onclick="" class="buy">Buy</button>

  </foreignobject>
</svg>


<svg id="Store2">
  <rect/>
  <foreignobject x="20" y="10" width="90%" height=100%>
    <h2 class="LampaRubrik">Trasig Lampa 2</h2>

      <img class="lampa" src="/Assets/lampa2.png" alt="lampa">
          <p class="price">Price: 200kr </p>
          <p class="Description">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua.</p>
          <p class="stock">Availability:</p>

      <button onclick="" class="buy">Buy</button>

  </foreignobject>
</svg>

<svg id="Store3">
  <rect/>
  <foreignobject x="20" y="10" width="90%" height=100%>
    <h2 class="LampaRubrik">Trasig Lampa 3</h2>

      <img class="lampa" src="/uploads/lampa3.png" alt="lampa">
          <p class="price">Price: 300kr </p>
          <p class="Description">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua.</p>
          <p class="stock">Availability:</p>

      <button onclick="" class="buy">Buy</button>

  </foreignobject>
</svg>
</div>

<svg id="Bottom1">
  <rect/>
</svg>


<script lang="js" src="/JS/products.js" ></script>

</body>
</html>